@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #292929;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins-sans);
  --font-serif: var(--font-lora-serif);
}

/* tema dark */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #292929;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
